<footer>
  <div class="main-layout">
    <div class="nav-container-icons">
  
      <a class="nav-icon twitter-bird" href="https://twitter.com/viabrad" target="_blank" rel="noreferrer noopener">
        <i class="fab fa-twitter"></i>
      </a>
  
      <a class="nav-icon github-cat" href="https://github.com/viabrad" target="_blank" rel="noreferrer noopener">
        <i class="bi bi-github"></i>
      </a>
  
      <a class="nav-icon spotify-circle" href="https://open.spotify.com/artist/3lOHpAiLhrH4hohPlNjqPo?si=mteec0hkQiW__4Kr7gEWKg" target="_blank" rel="noreferrer noopener">
        <i class="bi bi-spotify"></i>
      </a>

      <a class="nav-icon instagram-camera" href="https://www.instagram.com/viabrad/" target="_blank" rel="noreferrer noopener">
        <i class="bi bi-instagram"></i>
      </a>
            
    </div>
    <div>
      <p>viabrad copyright <%=year%></p>  
    </div>  
  </div>
</footer>
</body>
<script type="text/javascript" src="index.js"></script> 
</html>


