<body>
    <section>
        <header>
            <nav class="nav-flex">
                <a class="menu-item" href="/">home</a>

                <a class="menu-item" href="/music">music</a>

                <a class="menu-item" href="toolkit">toolkit</a>

                <!-- <a class="menu-item" href="toolkit.html">inspo</a>   -->
            </nav>
        </header>
    </section>