<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
<div class="main-layout">
    <img src="images/bab_profile.jpg" class="profile-pic" alt="profile picture">
    <div class="home-section">
        <h1>Brad</h1>
        <p>naturally curious..always. an engineer who enjoys thinking...go figure. I also enjoy making music.</p>
    </div>
    <div class="home-section">
        <h1>Projects</h1>
        <p>I deceided to start this coding journey towards the end 2021 so I'm still working on my portfolio. My only completed project so far is <a href="/">viabrad.co</a></p>
    </div>
</div>
<%- include('partials/footer'); -%>
