body {
    background-color: #212529;
    background-color: hsl(217, 54%, 11%);    
    color: white;
    min-height: 100vh;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);    
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;  
}

::-webkit-scrollbar {
  width: 5px;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;  
}

footer {
  margin-top: auto;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 65%;
  margin: auto;
  padding-top: 3.5rem;
}

.home-section {
  margin-top: 2rem;
}

.menu-item {
  font-size: 1.1rem;
  text-decoration: none;
  margin-right: 1.5rem;
  /* border-style: solid; */
  /* border-color: red; */
  flex-wrap: wrap;
  color: #fff;
}

.nav-container-icons {
  display: flex;
  width: 100%;
  flex-basis: content;
  justify-content: center
}

.nav-icon {
  text-decoration: none;  
  font-size: 1.3rem;
  color: #fff;
  border-radius: 100%;
  margin: 0 0.75rem 0 0.75rem;
  animation: float 5s ease-in-out infinite;
}

.github-cat {
  animation-delay: 1s;
}

.spotify-circle {
  animation-delay: 2s;
}

.instagram-camera {
  animation-delay: 3s;
}


@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}
 
.nav-icon:hover {
  color: #ffee10;
  text-shadow: 0 0 10px #ffee10;
  transition: 0.3s
}
  
.main-layout {
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align: center;
  width: 65%;
  margin: auto;
  margin-top: 6rem;
}

.body-layout {  
  width: 100%;
  margin: auto;  
  margin-top: 1rem;
}

.music-layout {  
  width: 75%;
  margin: auto;
}


.profile-pic {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;    
}

.album-grid {  
  text-align: center;
}

.album-layout {
  margin: auto;
  display: inline-block;
  text-align: center;
}

.artwork {
  width: 12rem;
  height: 12rem;
  border-radius: 10px;
  margin: 1.5rem;
}

.album-list {
  display: inline-block;
  text-indent: -2rem;
}

.toolkit-icon {
  width: 5rem;
  height: 5rem;    
  margin: 0;
  padding: 0.5rem;    
}

.app-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.artwork:hover {
  color: #ffffff;
  box-shadow: 0 0 10px #ffffff;
  transition: all 0.3s ease-out
}

.main-container {
  position: relative;
  width: 12rem;
  height: 12rem;
  margin: 1.5rem;  
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease; 
}

.theback {
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.flipCard {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
}

.toolkit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;  
}

.toolkit-icon-btn {
  font-size: 1.5rem;
  color: black;    
}

.productName {
  margin-top: 2rem;
  color: black
}

.btm{
  margin-top: 9rem;
  position: absolute;
}

@media only screen and (max-width: 600px) { 

  .nav-flex {    
    justify-content: center;
  }

  .menu-item {
    margin: auto;
  }
  
  .btm {
    margin-top: 4.5rem;
  }
    
  .nav-icon:hover {
    text-shadow: none;
    color: #fff;
  }
  
}

